DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'DATABASE_NAME',
        'USER': 'USER_POSTGRES_NAME',
        'PASSWORD': 'USER_POSTGRES_PASSWORD',
        'HOST': 'localhost',
        'PORT': 5432
    }
}

DEBUG = True
